$mobileUnder: 767px;
$mobile: 768px;
$tablet: 1023px;
$desktop: 1024px;

/*반응형, 브라우저 크기가 767px 이하일때*/

@mixin mobile {
    @media (max-width: $mobileUnder) {
        @content;
    }
}


/*반응형, 브라우저 크기가 768이상, 1023px 이하일때*/

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}


/*반응형, 브라우저 크기가 1024px 이상일때*/

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}


/*넓이, 높이 자동 계산함수*/

@mixin square($size) {
    $calculated: 32px * $size;
    width: $calculated;
    height: $calculated;
}

// $randomDesk:'background: url("/img/#{randomNum(1, 6)}.jpg")';
// $randomMobile: 'background: url("/img/#{randomNum(7, 11)}.jpg")';
// @function randomNum($min, $max) {
//     @if( $max==11) {
//         $rand: random();
//         $randomNum: $min + floor($rand * (($max - $min) + 1));
//         @return $randomNum;
//     }
//     @else if( $max==6) {
//         $rand: random();
//         $randomNum: $min + floor($rand * (($max - $min) + 1));
//         @return $randomNum;
//     }
// }
// $desktopBG:'url("http://placeimg.com/600/600/any?nocache=#{floor(random())}")';