@import "variables";
$basic:#333;
$title:red;
$white:#fff;
$bg:#ccc;
$btnBg:rgb(253, 87, 115);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 98%;
    overflow: hidden;
    min-height: 100vh;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: no-wrap;
    @include desktop {
        justify-content: center;
    }
    @include tablet {
        justify-content: center;
    }
    @include mobile {
        justify-content: flex-start;
    }
    align-items: center;
    .time-area {
        @include desktop {
            width: 580px;
        }
        @include tablet {
            width: 580px;
        }
        @include mobile {
            width: 100%;
        }
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-between;
        align-items: center;
        .play-time-area {
            font-size: 2em;
            color: $basic;
            width: 60%;
            display: flex;
        }
        .start-btn {
            width: 30%;
            height: 50px;
            border-radius: 5px;
            background-color: $btnBg;
            border: 0;
            cursor: pointer;
            font-size: 1.8em;
            color: $white;
        }
        .start-btn:hover {
            background-color: $title;
        }
    }
    section {
        @include desktop {
            width: 580px;
        }
        @include tablet {
            width: 580px;
        }
        @include mobile {
            width: 100%;
        }
        margin: 10px 0;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: center;
        align-items: center;
        background-color: #333;
        .Complete {
            z-index: 3;
            position: absolute;
            font-size: 100px;
            color: red;
            -webkit-text-stroke: 2px $white;
            display: none;
            transition: 1000;
        }
        ul {
            list-style: none;
            border: 2px solid $btnBg;
            box-sizing: border-box;
            overflow: hidden;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: center;
            justify-items: center;
            justify-content: center;
            align-content: center;
            // grid-gap: 2px;
            li {
                @include desktop {
                    width: 150px;
                    height: 150px;
                    background: url("/img/1.jpg");
                }
                @include tablet {
                    width: 150px;
                    height: 150px;
                    background: url("/img/1.jpg");
                }
                @include mobile {
                    width: 100px;
                    height: 100px;
                    background: url("/img/001.jpg");
                }
                color: $white;
            }
            .list0 {
                @include desktop {
                    background-position-x: 0px;
                    background-position-y: 0px;
                }
                @include tablet {
                    background-position-x: 0px;
                    background-position-y: 0px;
                }
                @include mobile {
                    background-position-x: 0px;
                    background-position-y: 0px;
                }
            }
            .list1 {
                @include desktop {
                    background-position-x: -150px;
                    background-position-y: 0px;
                }
                @include tablet {
                    background-position-x: -150px;
                    background-position-y: 0px;
                }
                @include mobile {
                    background-position-x: -100px;
                    background-position-y: 0px;
                }
            }
            .list2 {
                @include desktop {
                    background-position-x: -300px;
                    background-position-y: 0px;
                }
                @include tablet {
                    background-position-x: -300px;
                    background-position-y: 0px;
                }
                @include mobile {
                    background-position-x: -200px;
                    background-position-y: 0px;
                }
            }
            .list3 {
                @include desktop {
                    background-position-x: -450px;
                    background-position-y: 0px;
                }
                @include tablet {
                    background-position-x: -450px;
                    background-position-y: 0px;
                }
                @include mobile {
                    background-position-x: -300px;
                    background-position-y: 0px;
                }
            }
            .list4 {
                @include desktop {
                    background-position-x: 0px;
                    background-position-y: -150px;
                }
                @include tablet {
                    background-position-x: 0px;
                    background-position-y: -150px;
                }
                @include mobile {
                    background-position-x: 0px;
                    background-position-y: -100px;
                }
            }
            .list5 {
                @include desktop {
                    background-position-x: -150px;
                    background-position-y: -150px;
                }
                @include tablet {
                    background-position-x: -150px;
                    background-position-y: -150px;
                }
                @include mobile {
                    background-position-x: -100px;
                    background-position-y: -100px;
                }
            }
            .list6 {
                @include desktop {
                    background-position-x: -300px;
                    background-position-y: -150px;
                }
                @include tablet {
                    background-position-x: -300px;
                    background-position-y: -150px;
                }
                @include mobile {
                    background-position-x: -200px;
                    background-position-y: -100px;
                }
            }
            .list7 {
                @include desktop {
                    background-position-x: -450px;
                    background-position-y: -150px;
                }
                @include tablet {
                    background-position-x: -450px;
                    background-position-y: -150px;
                }
                @include mobile {
                    background-position-x: -300px;
                    background-position-y: -100px;
                }
            }
            .list8 {
                @include desktop {
                    background-position-x: 0px;
                    background-position-y: -300px;
                }
                @include tablet {
                    background-position-x: 0px;
                    background-position-y: -300px;
                }
                @include mobile {
                    background-position-x: 0px;
                    background-position-y: -200px;
                }
            }
            .list9 {
                @include desktop {
                    background-position-x: -150px;
                    background-position-y: -300px;
                }
                @include tablet {
                    background-position-x: -150px;
                    background-position-y: -300px;
                }
                @include mobile {
                    background-position-x: -100px;
                    background-position-y: -200px;
                }
            }
            .list10 {
                @include desktop {
                    background-position-x: -300px;
                    background-position-y: -300px;
                }
                @include tablet {
                    background-position-x: -300px;
                    background-position-y: -300px;
                }
                @include mobile {
                    background-position-x: -200px;
                    background-position-y: -200px;
                }
            }
            .list11 {
                @include desktop {
                    background-position-x: -450px;
                    background-position-y: -300px;
                }
                @include tablet {
                    background-position-x: -450px;
                    background-position-y: -300px;
                }
                @include mobile {
                    background-position-x: -300px;
                    background-position-y: -200px;
                }
            }
            .list12 {
                @include desktop {
                    background-position-x: 0px;
                    background-position-y: -450px;
                }
                @include tablet {
                    background-position-x: 0px;
                    background-position-y: -450px;
                }
                @include mobile {
                    background-position-x: 0px;
                    background-position-y: -300px;
                }
            }
            .list13 {
                @include desktop {
                    background-position-x: -150px;
                    background-position-y: -450px;
                }
                @include tablet {
                    background-position-x: -150px;
                    background-position-y: -450px;
                }
                @include mobile {
                    background-position-x: -100px;
                    background-position-y: -300px;
                }
            }
            .list14 {
                @include desktop {
                    background-position-x: -300px;
                    background-position-y: -450px;
                }
                @include tablet {
                    background-position-x: -300px;
                    background-position-y: -450px;
                }
                @include mobile {
                    background-position-x: -200px;
                    background-position-y: -300px;
                }
            }
            .list15 {
                @include desktop {
                    background-position-x: -450px;
                    background-position-y: -450px;
                }
                @include tablet {
                    background-position-x: -450px;
                    background-position-y: -450px;
                }
                @include mobile {
                    background-position-x: -300px;
                    background-position-y: -300px;
                }
            }
        }
    }
}